import React from "react";
import { withPrismicPreview } from "gatsby-plugin-prismic-previews";
import { graphql } from "gatsby";
import { SliceZone } from "@prismicio/react";
import Metadata from "../../components/Metadata";
import {{parsedComponentName}} from "./components/{{parsedComponentName}}";

const components = {
  hero_section: {{parsedComponentName}},
}

const {{parsedTemplateName}} = ({ data }) => {
  const pageData = data?.{{prismicCustomTypeName}}?.dataRaw;

  return (
    <>
      <h1 className="text-center mt-5">{{parsedTemplateName}}</h1>
      <SliceZone
        slices={pageData?.dataRaw?.body}
        components={components}
      />
    </>
  );
};

export default withPrismicPreview({{parsedTemplateName}});

export const Head = ({ data }) => {
  return <Metadata pageData={data?.{{prismicCustomTypeName}}?.dataRaw} />;
};

export const query = graphql`
  query {{prismicCustomTypeName}}Query($id: String) {
    {{prismicCustomTypeName}}(id: { eq: $id }) {
      _previewable
      dataRaw
    }
  }
`;
